<header class="header">
  <div class="title">
    <!-- Title that is also a link but not colored-->
    <a href="/co2k">
      <div class="title-line">The CO2K Book</div>
    </a>
    <div class="title-line highlight">A collaborative student-led recipe project</div>
  </div>
  <p class="subtitle">Uniting Young Minds Through Science, Community, and the Joy of Cooking</p>

  <!-- Brochure Link/Icon -->
  <div class="brochure">
    <a href="https://www.flipsnack.com/periodiko/co2k-project-edu-a305/full-view.html" target="_blank" class="brochure-link">
      <img src="/icons/brochure-icon.png" alt="Brochure Icon" class="brochure-icon" />
      Download Brochure
    </a>
  </div>
</header>
