<header class="header">
        <div class="title">
          <!-- Title that is also a link but not colored-->
            <a href="/">
                <dev class="title-line">The CO2K Book</dev>
            </a>
          <div class="title-line highlight">A collaborative student-led recipe project</div>
        </div>
        <p class="subtitle">Uniting Young Minds Through Science, Community, and the Joy of Cooking</p>
</header>